body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    margin: 0;
    padding: 0;
    width:100%;
}
/*set the font and background and width*/

header{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
/*set header position,color and center the font*/

header img{
    width: 100%;
    height: auto;
    display:block;
}
/*add wider to img*/

.header-title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-70%);
font-size: 35px;
padding: 10px 20px;
}
/*set the title to absolute position and size*/

.wrapper{
    background-color:#d9f4ee;
    width: 70%;
    margin: auto;
}
/*set wrapper color and width*/

nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
/*center meun*/

nav ul li{
    flex: 1;
    text-align: center ;
}
/*set the size of meun botton*/

nav ul li a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
    width:100%;
    box-sizing: border-box;
    border-right: 2px solid rgb(168, 156, 156) ;
}
/*add border line and padding and color*/


nav ul li:last-child a {
    border-right: none; 
}
/*take out border of CONTACT*/

article img{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 180px;
    height: auto;
}
/*set size of article image*/


h2{
    margin-left:20px;
    font-size: 2em;
}
/*set h2 font size and margin*/

p{
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
    line-height: 1.6;
}
/*set p font size and margin*/

h3{
    font-size: 1.5em;
    margin-left: 1em;
}
/*set h3 font size and margin*/

form{
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 1px;
    margin-left: 20px;
    margin-right: 20px;
}
/*set form border and display*/

form label{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
/*set label margin*/

form input,form textarea{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #a29797;
    border-radius: 1px;
    margin-left: 20px;
    margin-right: 20px;
}
/*set form textarea margin and border*/

form button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin: 10px 5000px 10px 20px;
    display: inline-block;
    min-width: 80px; 
}
/*set button padding and border*/


footer {
    text-align: right;
    padding: 20px;
    background-color: none;
    margin-top: 20px;
}
/*set fotter align on right and padding and margin*/