body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    margin: 0;
    padding: 0;
    width:100%;
}

header{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    height: auto;
    display:block;
}

.header-title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 2.5em;
}

.wrapper{
    background-color:#d9f4ee;
    width: 70%;
    margin: auto;
  
}

nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    flex: 1;
    text-align: center ;
}

nav ul li a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
    width:100%;
    box-sizing: border-box;
    border-right: 2px solid rgb(168, 156, 156) ;
}

nav ul li:last-child a {
    border-right: none; 
}

article img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 180px;
    height: auto;
}


h2{
    margin-left:20px;
    font-size: 2em;
}

p{
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
    line-height: 1.6;
}

h3{
    font-size: 1.5em;
    margin-left: 1em;
}

form{
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
}

form label{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

form input,form textarea{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #a29797;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(108, 133, 159);
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

form button:hover {
    background-color: #257;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
}