

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #e77979;
    padding: 10px;
    text-align: center;
}

.site-title {
    color: #580a88;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: #edcccc;
}

nav ul {
    list-style-type: none;
    display:flex;
}

nav ul li{
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    background-color: #e865bc;
    padding: 1px;
    border: 1px solid #080808;
}

nav a:hover, nav a:focus {
    background-color: #bbb;
}
